.hright{
    display: flex;
  }
  .hright a{
    text-decoration: none;
  }
  #login{
    color: skyblue;
    border: 1px solid skyblue;
    padding: 9px 37px;
    border-radius: 10px;
    margin-right: 15px;
  }
  #signup{
    color: white;
    background-color: skyblue;
    border: 1px solid skyblue;
    padding: 9px 37px   ;
    border-radius: 10px;
}