.hheader{
  display: flex;
  justify-content: space-between;
  height: 8.5vh;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;   
}
main{
  background-color: #F5F5F5;
}
.block{
  justify-content: center;
  width: 15%;
  background-color: white;
}
